@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
  --color-1: #FDB056;
  --color-2: #81FE95;
  --color-3: #2D3233;
  --px: 16px;
  --width: calc(1216px + 2 * var(--px) );
  --font-gilroy: 'Gilroy', sans-serif;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #232829;
    --foreground: #fff;
  }
}

html, body {
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
  padding-top: 103px;
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-montserrat), Arial, Helvetica, sans-serif;
}

main {
  flex-grow: 1;
}

.font-raleway {
  font-family: var(--font-raleway), Arial, Helvetica, sans-serif;
  font-feature-settings: "lnum", "tnum";
}

.font-gilroy {
  font-family: var(--font-gilroy), Arial, Helvetica, sans-serif;
}

@font-face {
  font-family: 'Gilroy';
  src: url('/fonts/Gilroy/Gilroy-Regular.woff') format('woff');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Gilroy';
  src: url('/fonts/Gilroy/Gilroy-Regular.woff') format('woff');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Gilroy';
  src: url('/fonts/Gilroy/Gilroy-Medium.woff') format('woff');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Gilroy';
  src: url('/fonts/Gilroy/Gilroy-Bold.woff') format('woff');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}