@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
  --color-1: #FDB056;
  --px: 16px;
  --width: calc(1216px + 2 * var(--px) );
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #232829;
    --foreground: #fff;
  }
}

html, body {
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
  padding-top: 103px;
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-montserrat), Arial, Helvetica, sans-serif;
}

main {
  flex-grow: 1;
}

.font-raleway {
  font-family: var(--font-raleway);
  
}